.container{
    /* border: 1px solid black; */
    box-shadow:0 0 5px 5px lightgray;
    max-width: 800px;
    max-height: 500px;
    width:100%;
    height: 100%;
    margin: auto !important;
}
#searchId{
    width:100%;
    max-width: 500px;
    box-shadow: 5px 3px 0 0  darkgrey;   
    /* border:1px solid black; */
    /* border-radius:5px; */
    height: 50px;
    font-size: large;
    padding-left: 10px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
    line-height: 30px;
    padding-left:15px !important;    
    margin-left:65px !important;
    text-align:  center;
}
.btn-reset{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    width:510px;
    background-color: #c5b800;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: 60px;
    margin-top: 10px;
}
ul li{
    list-style: none;
    text-align:  center;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
ul li:hover{
    background-color: darkgray;
}
.searchWidgetDropDown{
    position: relative;
    display: inline-block;
}
/* .searchWidgetDropDown-content{
    display: none;
    position:absolute;
    background-color:#f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0,0,0.2);
    padding:12px 16px;
    z-index: 1;
} */

